/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* safer than 100vw */
  height: 100px;
  background-color: #f5ba13;
  z-index: 1000;
  padding: 10px 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  text-align: left;
}